#   {{ ansible_managed  }}
#	$OpenBSD: sshd_config,v 1.93 2014/01/10 05:59:19 djm Exp $

HostKey /etc/ssh/ssh_host_rsa_key
LogLevel INFO
SyslogFacility AUTHPRIV
PermitRootLogin yes
AuthorizedKeysFile	.ssh/authorized_keys
AuthorizedKeysCommand {{ ssh_aws_authkey_command_path }}
AuthorizedKeysCommandUser {{ ssh_aws_user }}
ChallengeResponseAuthentication no
GSSAPIAuthentication yes
GSSAPICleanupCredentials no
UsePAM yes
AllowAgentForwarding yes
AllowTcpForwarding yes
X11Forwarding no
UsePrivilegeSeparation sandbox		# Default for new installations.
UseDNS yes

# Accept locale-related environment variables
AcceptEnv LANG LC_CTYPE LC_NUMERIC LC_TIME LC_COLLATE LC_MONETARY LC_MESSAGES
AcceptEnv LC_PAPER LC_NAME LC_ADDRESS LC_TELEPHONE LC_MEASUREMENT
AcceptEnv LC_IDENTIFICATION LC_ALL LANGUAGE
AcceptEnv XMODIFIERS

# override default of no subsystems
Subsystem	sftp	/usr/libexec/openssh/sftp-server
